Atestados.UIProcess/Connected Services/WCF_Personal/WCFPersona2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Expediente.Objetos.Objetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Expediente.Objetos.Objetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TEC_Mensaje_Accion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TEC_Mensaje_Accion" nillable="true" type="tns:TEC_Mensaje_Accion" />
</xs:schema>