Atestados.WCF/Connected Services/WCF_Email/Email2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tec-apps/WCFServicioEmail/ServiciosWeb/Email.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" />
  <xs:import schemaLocation="http://tec-apps/WCFServicioEmail/ServiciosWeb/Email.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuerpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" type="xs:boolean" />
        <xs:element minOccurs="0" name="prioridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="listaAdjuntos" nillable="true" type="q1:ArrayOfTecAdjunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="EnviarCorreoResult" nillable="true" type="q2:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoMasivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaDestinatarios" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuerpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" type="xs:boolean" />
        <xs:element minOccurs="0" name="prioridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="listaAdjuntos" nillable="true" type="q4:ArrayOfTecAdjunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoMasivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="EnviarCorreoMasivoResult" nillable="true" type="q5:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCuentaCorreoPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoEntidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCuentaCorreoPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="InsertarCuentaCorreoPadreResult" nillable="true" type="q6:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCorreoSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuentaCorreoPadre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCorreoSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="InsertarCorreoSistemaResult" nillable="true" type="q7:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEntidadesCuentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEntidadesCuentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarEntidadesCuentasResult" nillable="true" type="q8:TecEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="InsertarEntidadResult" nillable="true" type="q9:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEstadoCuentaPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEstadoCuentaPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ModificaEstadoCuentaPadreResult" nillable="true" type="q10:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEstadoCuentaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEstadoCuentaCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ModificaEstadoCuentaCorreoResult" nillable="true" type="q11:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaContrasenaCorreoSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena_anterior" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaContrasenaCorreoSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ModificaContrasenaCorreoSistemaResult" nillable="true" type="q12:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaContrasenaCuentaPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuentaCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena_anterior" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaContrasenaCuentaPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ModificaContrasenaCuentaPadreResult" nillable="true" type="q13:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorCorreoSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorCorreoSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarBitacoraPorCorreoSistemaResult" nillable="true" type="q14:TecBitacora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorCuentaPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorCuentaPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarBitacoraPorCuentaPadreResult" nillable="true" type="q15:TecBitacora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEntidad" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarBitacoraPorEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarBitacoraPorEntidadResult" nillable="true" type="q16:TecBitacora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEntidad" type="xs:int" />
        <xs:element minOccurs="0" name="nombreEntidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ModificaEntidadResult" nillable="true" type="q17:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCorreosNoEnviados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCorreosNoEnviadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarCorreosNoEnviadosResult" nillable="true" type="q18:TecCorreosNoEnviados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCuentaPadreAPartirHijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correoHijo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCuentaPadreAPartirHijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarCuentaPadreAPartirHijoResult" nillable="true" type="q19:TecRespuestaCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarExitoFlujoAlterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBitacora" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarExitoFlujoAlternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ActualizarExitoFlujoAlternoResult" nillable="true" type="q20:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCorreosXEnviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCorreosXEnviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="ConsultarCorreosXEnviarResult" nillable="true" type="q21:TecCorreosEnviar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesmarcarEnviadoCola">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCola" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesmarcarEnviadoColaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="DesmarcarEnviadoColaResult" nillable="true" type="q22:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviadorMensajesMasivosExclusivoWinService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listaDestinatarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuerpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" type="xs:boolean" />
        <xs:element minOccurs="0" name="prioridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="listaAdjuntos" nillable="true" type="q23:ArrayOfTecAdjunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviadorMensajesMasivosExclusivoWinServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TEC.Email.Objetos.Clases" minOccurs="0" name="EnviadorMensajesMasivosExclusivoWinServiceResult" nillable="true" type="q24:TecRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>